@tailwind base;

@layer base {
  h1 {
    @apply text-xl;
    @apply sm:text-2xl;

  }
  h2 {
    @apply text-lg;
    @apply sm:text-xl;
  }
  h3 {
    @apply text-sm;

    @apply font-semibold;
    @apply leading-snug;
  }

  a {
    @apply text-[#444444];
    @apply text-xs;
    @apply sm:text-sm; 
    @apply font-semibold;

    
  }
}
@tailwind components;
@tailwind utilities;
@layer components{
  .product-name{
    color:#444444;
  }
  .product-price{
    color:red;
    @apply font-bold;
    @apply text-sm;

  }
}


body{
  background:#ECECEC;
  overflow-x:hidden;
  box-sizing: border-box;

}
.active{
  background-color: #18A8FA;
  color:#F5F5F5;
  
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
